<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<select id="getUserByUserName" parameterType="java.lang.String" resultType="User">
		SELECT *
		FROM user
		WHERE username like #{username}
	</select>
	
	<insert id="addUser" parameterType="User">
		INSERT INTO user(name,username,password,phone,email,imageURL,role)
		VALUES (#{name},#{userName},#{password},#{phone},#{email},#{imageURL},#{role})
	</insert>
	
	<update id="updateUser" parameterType="User">
		UPDATE user
		<set>
			<if test="imageURL != null">
			 imageURL = #{imageURL},
			</if>
			<if test="name != null">
			 name = #{name},
			</if>
			<if test="phone != null">
			 phone = #{phone},
			</if>
			<if test="email != null">
			 email = #{email}
			</if>
			where username = #{userName}
		</set>
	</update>
</mapper>