<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.cyberlogitec.model.User" alias="User" />
		<typeAlias type="com.cyberlogitec.model.UserForm" alias="UserForm" />
		<typeAlias type="com.cyberlogitec.model.Category" alias="Category" />
		<typeAlias type="com.cyberlogitec.model.Product" alias="Product" />
		<typeAlias type="com.cyberlogitec.model.ProductCategory" alias="ProductCategory" />
		<typeAlias type="com.cyberlogitec.model.Cart" alias="Cart" />
		<typeAlias type="com.cyberlogitec.model.CartItem" alias="CartItem" />
	</typeAliases>
</configuration>